<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="">
    <div class="max-w-5xl mx-auto mt-4 py-16">
        <!-- Header -->
        <div class="fixed top-0 left-0 right-0 bg-white bg-opacity-60 backdrop-blur-md shadow-md z-10">
            <div class="max-w-5xl mx-auto flex justify-between items-center p-4">
                <a href="#" class="text-2xl font-bold">
                    BOOK RECOMMENDER
                </a>
                <ul class="hidden lg:flex space-x-8 items-center text-md text-gray-700">
                    <li>
                        <a href="/" class="hover:text-pink-700">Home</a>
                    </li>
                    <li>
                        <a href="/" class="hover:text-pink-700">About</a>
                    </li>
                    <li>
                        <a href="/" class="hover:text-pink-700">Top 50</a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-pink-700">Recommend</a>
                    </li>

                    {% if 'username' in session %}
                        <li >
                            <a class="font-bold text-green-700" href="#">Welcome, {{ session['username'][0:10] }}!</a>
                        </li>
                        <li class="bg-pink-600 px-6 py-2 text-white rounded-full">
                            <a class="nav-link text-warning fw-bold" href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- End Header -->
        <div class="container mx-auto px-4 py-8">
            <!-- Book Recommender -->
            <div>
           <form id="searchForm" action="{{ url_for('get_recommendations') }}" method="post">
    <div class="relative mt-8">
        <input type="text" name="book_title" id="bookTitle" placeholder="Enter book title" class="w-full p-2 pl-10 border rounded shadow focus:outline-none border-pink-400" required>
        <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
            <i class="fa fa-search w-6 h-6 text-pink-600"></i>
        </span>
    </div>
    <input type="submit" value="Recommendation" class="bg-pink-600 p-2 flex items-center text-center text-white font-bold text-md rounded-lg mt-3 shadow hover:bg-pink-800 transition-colors duration-300">
</form>

<div id="results"></div> <!-- Placeholder for results -->

            </div>
            <div>

            </div>
            <!-- End Book Recommender -->
            <div class="py-6 mt-16 border-t border-gray-200">
                <div class="max-w-4xl mx-auto text-center">
                    <p class="text-gray-600 font-light mb-2">
                        Thank you for visiting our website.
                    </p>
                    <p class="text-gray-800 text-lg font-semibold">
                        Book recommender &copy; 2024.
                    </p>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#searchForm').on('submit', function(e) {
        e.preventDefault();  // Prevent the default form submission

        var bookTitle = $('#bookTitle').val();  // Get the value from the input field
        var submitButton = $(this).find('input[type="submit"]');
        submitButton.prop('disabled', true).val('Loading...'); // Disable the button and change button text to "Loading..."

        $.ajax({
            url: '{{ url_for("get_recommendations") }}',
            method: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: {
                book_title: bookTitle
            },
            success: function(response) {
                if (response.message) {
                    $('#results').html(`<p class="text-red-500 text-2xl text-center w-full">${response.message}</p>`);
                } else if (response.data) {
                    var books = response.data.map(function(book) {
                        return `
                            <div class="border border-lg overflow-hidden shadow-sm hover:shadow-lg transition-shadow duration-200 ease-in">
                                <img src="${book[2]}" alt="${book[1]}" class="w-full h-48 object-cover transition-transform duration-500 transform hover:scale-110 hover:rounded-lg" />
                                <div class="p-4">
                                    <h2 class="font-bold mb-4">Book Title - ${book[0]}</h2>
                                    <p class="text-gray-600 mb-4 truncate">Book Author: ${book[1]}</p>
                                    <p class="text-gray-600 mb-4 truncate">Average Rating: ${book[3]}</p>
                                </div>
                            </div>
                        `;
                    }).join('');
                    $('#results').html(`<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-3">${books}</div>`);
                }
                submitButton.prop('disabled', false).val('Recommendation'); // Re-enable the button and reset button text
            },
            error: function(xhr, status, error) {
                $('#results').html(`<p class="text-red-500 text-xl text-center w-full">Failed to retrieve data. Please try again.</p>`);
                console.error("Error occurred: " + error);
                submitButton.prop('disabled', false).val('Recommendation'); // Re-enable the button and reset button text
            }
        });
    });
});

</script>

</body>
</html>
